

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f8fd;
    padding: 20px;
    margin-top: 200px;
}

.main {
    background-color: #bfdbfe;
    border-radius: 12px;
    padding: 20px;
    max-width: 450px;
    width: 100%;
}

.sub-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: #f2f8fd;
    border: 20px solid white;
}

.one {
    background-color: #bfdbfe;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.one:hover {
    background-color: olivedrab;
}

h3 {
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    color: #4040f4;
    padding: 10px;
    transition: color 0.3s;
}

h3:hover {
    color: darkslategray;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .sub-main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .body {
        margin-top: 200px;
    }
    
    h3 {
        font-size: 16px;
        padding: 8px;
    }
}
