

/* General container setup */
.mmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.container {
  margin: 120px 0 0 0;
  width: 100vw;
  height: 65vh;
  display: grid;
  grid-template-rows: 40% 60%;
}

.contents-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents-1-h1 {
  margin-top: -160px;
  color: #145990;
  font-weight: normal;
}

.contents-1-h3, .contents-1-h3-2 {
  color: #0F2942;
  width: 100vw;
  background-color: #F2F8FD;
  font-weight: normal;
  margin-left: 40px;
}

.contents-1-h3-2 {
  margin-bottom: -10px;
}

.contents-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sub-content {
  display: flex;
  flex-direction: column;
}

/* Individual content boxes */
.s-1, .s-2, .s-3, .s-4 {
  border: 20px solid #F2F8FD;
  height: 410px;
  width: 280px;
  border-radius: 40px 0;
}

.s-2, .s-4 {
  border-radius: 0 40px 40px 0;
}

/* Background gradients for content boxes */
.s-1, .sub-content-1-h3 {
  background: linear-gradient(156.3deg, #C1DFF6 -9.44%, #3498DB 106%);
}

.s-2,.sub-content-2-h3 {
  background: linear-gradient(156.3deg, #09C09A -9.44%, #A4F6DA 106%);
}

.s-3, .sub-content-3-h3 {
  background: linear-gradient(174.15deg, #CBB327 -13.32%, #EEEC9A 108.85%);
}

.s-4, .sub-content-4-h3 {
  background: linear-gradient(175.18deg, #FCCFD3 -8.91%, #EB485E 116.1%);
}

/* Sub-content text */
.sub-content-1-h2, .sub-content-2-h2, .sub-content-3-h2, .sub-content-4-h2 {
  margin-top: 40px;
  color: white;
}

.sub-content-1-h3, .sub-content-2-h3, .sub-content-3-h3, .sub-content-4-h3 {
  color: #1A4B67;
}

/* Icon styles */
.a-icon, .b-icon, .c-icon, .d-icon {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-top: 10px;
  background-image: url('community.png');
}

/* Button styles */
.button {
  margin: 50px 0;
}

.button a {
  background-color: #0453ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border-radius: 15px;
  font-size: large;
}

/* Media Queries */
@media (min-width: 600px) and (max-width: 790px) {
  .contents-1 {
    width: 100vw;
    height: 10vh;
    margin-left: 20px;
  }

  .contents-1-h1 {
    font-size: 25px;
  }

  .contents-1-h3, .contents-1-h3-2 {
    font-size: 17px;
  }

  .contents-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100vw;
  }

  .s-1, .s-2, .s-3, .s-4 {
    border: 10px solid #F2F8FD;
    height: 390px;
    width: 50vw;
  }

  .button {
    position: absolute;
    top: 780px;
  }
}

@media screen and (max-width: 600px) {
  .contents-1 {
    width: 94vw;
    height: 10vh;
  }

  .contents-1-h1 {
    font-size: 25px;
  }

  .contents-1-h3, .contents-1-h3-2 {
    font-size: 18px;
  }

  .contents-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100vw;
  }

  .s-1, .s-2, .s-3, .s-4 {
    border: 10px solid #F2F8FD;
    height: 380px;
    width: 40vw;
  }

  .button {
    position: absolute;
    top: 780px;
  }
}

@media (min-width: 790px) and (max-width: 1250px) {
  .contents-2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .s-4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .button {
    position: absolute;
    top: 820px;
  }
}

@media screen and (min-width: 1250px) {
  .button a {
    margin-top: 100px;
  }
}
